h1 {
  color: aliceblue;

  /*   stylelint-disable-next-line font-family-name-quotes */
  font-family: 'Fira Sans', sans-serif;
  padding: 20px;
}


.walletLogin {
  background-color: green;
  padding: 100px;
  text-align: center;
  width: 100%;
}

.email {
  padding: 20px;
}

.password {
  padding-bottom: 10px;
}
